html{
    font-family: Oswald;
    background-color: white;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 400px 400px 400px 300px; 
    grid-gap: 20px;
    background-color: black;
    padding: 20px;
}

.item1{
    background-color: black;
    padding: 20px;
    grid-column: 1/ 4;
    font-family: Oswald;
    font-size: 60px;
    color: rgba(250, 250, 250, 1);

}

.item2{
    background-color: #f29f8f;
    /* object-fit: fill;
    display: flex;
    justify-content: center;
    align-items: center; */
}
.item3{
    background-color:  #fb7552;
    font-family: Oswald;
    font-size: 500%;
    color: rgba(28, 28, 31, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2;
    grid-column: 2 / 4;
}

a{
    text-decoration: none;
    color: rgba(28, 28, 31, 0.4);
}

.tipps{
    text-decoration: none;
    color: rgba(28, 28, 31, 0.9);
}

.item5{
    background-color:#fed770;
      font-family: Oswald;
    font-size: 500%;
    color: rgba(28, 28, 31, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.item6{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(250, 250, 250, 0.9);
    font-family: Oswald;
    font-size: 400%;
    text-align: center;
}
.item7{
    background-color: #fed770;
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}
.item8{
    background-color: #076a67
}
.item9{
    background-color: #FF6F61;
    font-family: Oswald;
    font-size: 500%;
    color: rgba(28, 28, 31, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.item10{
    background-color: #fed770;
    grid-column: 1 / 4;
}
img{
    width: 100%;
    height: 100%;
    object-fit: fill; 
}

.container2{
    background-color:#fb7552;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: black;
    font-family: Oswald;
    font-size: 40px;
    text-align: center; 

}

li{
    color: black;
    font-family: Oswald;
    font-size: 40px;
}

.container3{
    background-color:#fed770;;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: black;
    font-family: Oswald;
    font-size: 40px;
    text-align: center; 

}

li{
    color: black;
    font-family: Oswald;
    font-size: 40px;
}

.container4{
    background-color:  #f29f8f;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container5{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

h2{
    color: black;
    font-family: Oswald;
    font-size: 40px;
    text-align: center; 

}

li{
    color: black;
    font-family: Oswald;
    font-size: 40px;
}

.arrow-icon{
    height: 20px;
    width: 20px;
    margin-top: 100px;
    margin-left: 50%;  
    align-self: baseline;
}

.newPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    background-color: white;
}
